<%= render 'shared/form_common', title: 'コメント編集画面' %>

    <div class="form-width">
        <%= form_with(url: "/comments/#{@comment.id}/update", method: "post") do |f| %>
            <%= render 'shared/error_comment_messages' %>

            <%= f.label :comment, "コメント" %><br>
            <%= f.text_area :comment, value: @comment.comment,class: 'form-control' %><br><br>

            <%= f.submit "コメントする", class: "btn btn-primary" %>
            <div class="form-actions mt-3">
                <button type="button" class="btn btn-secondary" onclick="history.back();">戻る</button>
            </div>
        <% end %>
    </div>
</div>