<% provide(:title, 'ユーザー一覧画面') %>
<div class="container">
    <div class="text-center">
        <h1>ユーザー一覧画面</h1>
    </div>

    <div class="form-width mb-5 mt-2">
        <%= search_form_for @q do |f| %>

        <div class="mt-3">
            <%= f.label :name_cont, "投稿検索" %>
            <%= f.search_field :name_cont, class: 'form-control', placeholder: '検索ワード' %>

            <%= f.submit "検索", class: "btn btn-primary mt-3", style: "width:60px;" %>
            <%= link_to("クリア", "/users", class: "btn btn-secondary ms-2 mt-3") %>
        </div>
        <% end %>
    </div>

    <div class="user-index">
        <% @users.each do |user| %>
        <div class="user-index-flex">
            <div>
                <%= image_tag user.image.thumb.url %>
                <%= link_to(user.name,"/users/#{user.id}", class: "link") %>
            </div>
            <div class="ms-3 mt-3 mb-3">
                <strong id="followers" class="stat">
                <%= user.followers.count %>
                <span>followers</span>
                </strong>
            </div>
        </div>
        <% end %>
        <div class="text-center">
                <%= link_to("投稿一覧", posts_path, class: "btn btn-success") %>
                <button type="button" class="btn btn-secondary" onclick="history.back();">戻る</button>
        </div>
    </div>
</div>