<% provide(:title, '投稿詳細ページ') %>
<div class="container">
    <div class="text-center">
        <h3><%= @post.title %></h3>
        <p><%= @post.content %></p>

        <%= link_to("戻る",posts_path, class: "btn btn-secondary me-3") %>
        <% if @post.user_id == current_user.id %>
            <%= link_to("編集",edit_post_path(@post), class: "btn btn-primary me-3") %>
            <%= link_to("削除",post_path(@post), data: { turbo_method: :delete }, class: "btn btn-danger me-3") %>
        <% end %>
    </div>
</div>